:root {
  font-family: "Liberation Sans", "Arial", sans-serif;
  font-size: 5vw;
  color: #420;
  background: linear-gradient(#FC0, #C70);
  user-select: none;
}

@media (orientation: landscape) {
  :root {
    font-size: 2.5vw;
  }
}

body {
  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #FFF;
  text-shadow: 0 .1rem .5rem rgba(100,50,0,.5);
}
h2 { font-size: 1.8rem; color: #FFF }
h3 { font-size: 1.6rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.3rem }

.bubble {
  position: absolute;
  top: 0;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: radial-gradient(at 40% 40%, transparent, rgba(255,255,255,.3));
  z-index: -1;
}

input, select, button {
  font-size: inherit;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading::after {
  content: "🐬";
  display: block;
  font-size: 1em;
  animation: 3s linear infinite loading;
}
@keyframes loading {
  from { transform: rotate(-0deg)   }
  to   { transform: rotate(-360deg) }
}
