@import "./common.css";

header {
  margin-bottom: 2em;
  color: #FFF;
  text-align: center;
  text-shadow: 0 .1rem .4rem rgba(100,50,0,.5);
}

h1 {
  margin: 0;
}

body.loading::after {
  font-size: 50vw;
}

@media (orientation: landscape) {
  body.loading::after {
    font-size: 50vh;
  }
}

#games {
  list-style: none;
}

#games li {
}

#games li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

#games li img {
  width: 5rem;
  height: 5rem;
}

#games li strong {
}

#games li p {
  font-size: .75rem;
}
